/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.icon,
.change-layout > *,
.cam,
.icon-exit{
    cursor: pointer;
}

/* 
                    MAIN 
*/

main{
    background-color: black;
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 50px 20px;
}

.main-container{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    overflow: auto;
    height: calc(125px * 5 + 50px);
}

.change-layout{
    min-width: 50px;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.change-layout > *{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}

.cam{
    width: 250px;
    height: 125px;
    position: relative;
    margin: 0px 5px 10px;
}

.box-name{
    min-width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 5px 5px;
    background-color: rgba(128, 128, 128, 0.5);
}

.box-name > span,
.box-name > i
{
    font-size: 15px;
}

/* 
                    FOOTER
*/

footer{
    background-color: #222222;
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.footer-right,
.footer-left,
.footer-center{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 10px;
}

.footer-right,
.footer-left{
    justify-content: flex-start;
    width: 25%;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
}

.footer-center{
    width: 50%;
    justify-content: center;
}

.icon, .icon-exit{
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.icon > div{
    font-size: 15px;
}

.small{
    font-size: 15px;
}

.green{
    color: #4BC800;
}

.red{
    background-color: red;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}


                    /* HOVER */

.icon:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    border-radius: 5px;
}
